@import url("https://fonts.google.com/specimen/Nunito+Sans");

body {
    font-family: 'Nunito Snas', sans-serif;
    background-color: hsl(0, 0%, 98%);
    margin: 0;
}

header {
    background-color: #fff;
}

svg {
    width: 1em;
    height: auto;
}

.header-container {
    max-width: 1440px;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.theme-btn {
    font-size: 1em;
    border: none;
    background-color: transparent;
}

.theme-btn .dark-moon {
    display: none;
}

body.dark-theme .theme-btn .dark-moon {
    display: inline-block;
}

body.dark-theme .theme-btn .light-moon {
    display: none;
}